body{
    font-family: 'Pacifico', cursive;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
}
.intro img{
    width: 100px;
    height: 100px;
}

.animation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left:0;
    transform: translateY(-50%);
}

.animation .bigBubble{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #4799c2;
    transition: 1s;
}

.bubbles{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.bubbles div{
    width: 100px;
    height: 100px;
    transition: 0.5s;
    flex: 1;
}
.bubbles div:hover{
    cursor: pointer;
    transform: scaleY(1.2);
}

.bubble1{
    background: #845EC2;
}
.bubble2{
    background: #D65DB1;
}
.bubble3{
    background: #FF6F91;
}
.bubble4{
    background: #FF9671;
}
.bubble5{
    background: #FFC75F;
}
.bubble6{
    background: #F9F871;
}

.sentbb{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;

    z-index: -2;
}

@keyframes sent{
    0%{
        left: 50%;
        bottom: 15%;
        transform: translateX(-50%);
    }
    100%{
        left: 50%;
        bottom: 50%;
        transform: translateX(-50%);
    }
}